---
import { getCollection } from "astro:content";
import PageLayout from "../../../layouts/PageLayout.astro";
import CoverImage from "../../../components/CoverImage.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
const locale = Astro.currentLocale as Locales;

const pageCollections = await getCollection("personal");
const persionalList = pageCollections
  .map((p) => {
    const [lang, ...slug] = p.id.split("/");
    return {
      ...p.data.meta,
      lang: lang,
      slug: slug.join("/"),
      collection: p.collection,
      url: getRelativeLocaleUrl(locale, [p.collection, ...slug].join("/"), {
        normalizeLocale: false,
      }),
    };
  })
  .filter((v) => v.lang === locale);
---

<PageLayout title="Null Studio Gallery" active="personal">
  <div class="pt-[15rem] mobile:pt-[6.25rem]">
    <div class="hidden mobile:block text-[40px] Roboto-ExtraLight leading-none mb-7">
      Personal Works
    </div>
    {
      persionalList.map((item) => (
        <div class="grid mobile:gap-0 grid-cols-12 mb-9 mobile:mb-0 last:mb-0 mobile:flex-col-reverse mobile:flex mobile:justify-end">
          <a
            class="group col-span-5 relative min-w-[96px] w-fit min-h-[58px] mobile:min-h-[42px] mobile:mt-0.5 h-fit flex-1 pr-6"
            href={item.url}
          >
            <div class="text-xl font-[Roboto-ExtraLight]">{item.title}</div>
            <div class="max-w-[100%] whitespace-pre-wrap mobile:hidden text-[#666666]">{item.description}
            </div>
            <div class="hidden cursor-pointer group-hover:flex absolute inset-0 items-center mobile:!hidden">
              <div class="w-[96px] h-[58px] transform animate-mode-forwards animate-highlight-normal bg-dark-active-normal" />
            </div>
          </a>
          <a href={item.url} class="col-span-7">
            <CoverImage src={item.cover}/>
          </a>
        </div>
      ))
    }
  </div>
</PageLayout>
<style>
  .bg-dark-active-normal {
    background-position: -1700px;
    background-size: 1800px auto;
  }
</style>
