---
import type { ContentOptions, MetaOptions, PathOptions } from "./BlockType";
import SummaryVideoBlock from "./SummaryVideoBlock.astro";
import PictureBlock from "./PictureBlock.astro";
import SwipeBlock from "./SwipeBlock.astro";
import TextBlock from "./TextBlock.astro";
import VideoBlock from "./VideoBlock.astro";
import EmptyBlock from "./EmptyBlock.astro";
import SpaceBlock from "./SpaceBlock.astro";

interface Props {
  // 内容集合类型
  contents: ContentOptions;
  // 原信息类型
  meta?: MetaOptions;
  // 路径信息
  path: PathOptions;
}

const { contents, meta, path } = Astro.props;
---

<div class="pt-[8.75rem]">
  {
    contents.map((c) => {
      if (c.type === "SummaryVideoBlock")
        return <SummaryVideoBlock meta={meta} options={c} path={path} />;

      if (c.type === "PictureBlock")
        return <PictureBlock meta={meta} options={c} path={path} />;

      if (c.type === "SwipeBlock")
        return <SwipeBlock meta={meta} options={c} path={path} />;

      if (c.type === "VideoBlock")
        return <VideoBlock meta={meta} options={c} path={path} />;

      if (c.type === "TextBlock")
        return <TextBlock meta={meta} options={c} path={path} />;

      if (c.type === "SpaceBlock")
        return <SpaceBlock meta={meta} options={c} path={path} />;

      return <EmptyBlock meta={meta} options={c} path={path} />;
    })
  }
</div>
