---
import type { CollectionEntry } from "astro:content";
import SummaryVideoBlock from "./SummaryVideoBlock.astro";
import PictureBlock from "./PictureBlock.astro";
import SwipeBlock from "./SwipeBlock.astro";
import TextBlock from "./TextBlock.astro";
import VideoBlock from "./VideoBlock.astro";
import EmptyBlock from "./EmptyBlock.astro";
import SpaceBlock from "./SpaceBlock.astro";

interface Props {
  // 内容集合类型
  contents: CollectionEntry<"work">["data"]["contents"];
  // 原信息类型
  meta?: CollectionEntry<"work">["data"]["meta"];
}

const { contents, meta } = Astro.props;
---

<div class="pt-[8.75rem]">
  {
    contents.map((c) => {
      if (c.type === "SummaryVideoBlock")
        return <SummaryVideoBlock meta={meta} options={c} />;

      if (c.type === "PictureBlock")
        return <PictureBlock meta={meta} options={c} />;

      if (c.type === "SwipeBlock")
        return <SwipeBlock meta={meta} options={c} />;

      if (c.type === "VideoBlock")
        return <VideoBlock meta={meta} options={c} />;

      if (c.type === "TextBlock") return <TextBlock meta={meta} options={c} />;

      if (c.type === "SpaceBlock")
        return <SpaceBlock meta={meta} options={c} />;

      return <EmptyBlock meta={meta} options={c} />;
    })
  }
</div>
