---
import { getRelativeLocaleUrl } from "astro:i18n";
import navData from "../data/nav";
import logoBlackImage from "../assets/images/logo-black.svg";
import logoWhiteImage from "../assets/images/logo-white.svg";
import whiteMenuBtnImg from "../assets/images/menu-btn-white.png";
import blackMenuBtnImg from "../assets/images/menu-btn-black.png";
import close from "../assets/images/close.svg";
import LangSwitch from "./LangSwitch.astro";

interface Props {
  theme: "light" | "dark";
}

const { theme = "light" } = Astro.props;
const locale = Astro.currentLocale as Locales;
// const BASE_URL = import.meta.env.BASE_URL;
const HOME_URL = getRelativeLocaleUrl(locale, "/", { normalizeLocale: false });
const routes = navData.nav.map((nav) => ({
  name: nav[locale],
  path: getRelativeLocaleUrl(locale, nav.path, { normalizeLocale: false }),
}));
---

<div
  class:list={[
    "header w-full fixed z-10 justify-between items-center py-4 px-4 text-white mobile:flex hidden",
    { "bg-white": theme === "dark" },
  ]}
>
  <a class="logo w-[81px] flex items-center" href={HOME_URL}>
    <img
      src={theme === "dark" ? logoBlackImage.src : logoWhiteImage.src}
      alt="logo"
    />
  </a>
  <div
    id="mobile-menu-open-btn"
    class="text-white w-6 h-6 leading-6 overflow-hidden"
  >
    <img
      class="min-w-[2rem] w-[2rem] h-[2rem] -ml-[0.25rem] -mt-[0.25rem] object-contain"
      src={theme === "dark" ? blackMenuBtnImg.src : whiteMenuBtnImg.src}
      alt="menu button"
    />
  </div>
</div>

<div
  id="mobiel-menu-body"
  style="display:none;"
  class="fixed inset-0 flex flex-col bg-white px-4 z-20"
>
  <div
    class="header w-full fixed left-0 z-10 justify-between items-center pt-4 px-4 text-white mobile:flex hidden"
  >
    <a class="logo flex items-center" href="/">
      <img src={logoBlackImage.src} alt="logo" />
    </a>
    <div
      id="mobile-menu-close-btn"
      class="text-white w-6 h-6 flex justify-center items-center"
    >
      <img class="w-full h-full object-contain" src={close.src} alt="" />
    </div>
  </div>

  <div class="flex-1 w-full flex flex-col justify-center gap-10">
    {
      routes.map((r) => (
        <a href={r.path}>
          <span class="font-[Roboto] text-black text-3xl font-light">
            {r.name}
          </span>
        </a>
      ))
    }
    <LangSwitch theme={theme} device="mobile" />
  </div>
</div>

<script>
  const menuBody = document.getElementById("mobiel-menu-body") as HTMLElement;
  document.getElementById("mobile-menu-open-btn")?.addEventListener(
    "click",
    () => {
      menuBody.style.display = "flex";
      document.body.style.overflow = "hidden";
    },
    false,
  );

  document.getElementById("mobile-menu-close-btn")?.addEventListener(
    "click",
    () => {
      menuBody.style.display = "none";
      document.body.style.overflow = "";
    },
    false,
  );
</script>
