---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/PageLayout.astro";
import PageMeta from "@/data/work";
import { getRelativeLocaleUrl } from "astro:i18n";

const BASE_URL = import.meta.env.BASE_URL;
const locale = Astro.currentLocale as Locales;

const pageCollections = await getCollection("work");
const workList = pageCollections
  .map((p) => {
    const [lang, ...slug] = p.id.split("/");
    return {
      ...p.data.meta,
      lang: lang,
      slug: slug.join("/"),
      collection: p.collection,
      url: getRelativeLocaleUrl(locale, [p.collection, ...slug].join("/"), {
        normalizeLocale: false,
      }),
    };
  })
  .filter((v) => v.lang === locale);
---

<PageLayout title="Null Studio Gallery" active="work">
  <div class="pt-[10.625rem] mobile:pt-[7rem]">
    <div class="about relative">
      {
        PageMeta.about[locale].map((paragraph) => (
          <div class="text-[3.5rem] font-[Roboto-ExtraLight] leading-[3.625rem] font-light mobile:text-[1.625rem] mobile:leading-[2rem]">
            {paragraph}
          </div>
        ))
      }
      <a href={`${BASE_URL}`} class="mobile:hidden play-button hover:opacity-60"></a>
    </div>
    <div class="mt-[10.625rem] mobile:mt-[2.5rem] text-white leading-none">
      {
        workList.map((item) => (
          <div class="mb-4 mobile:mb-[1.625rem] relative">
            <a class="image-wrap pb-[56.25%] mobile:pb-[75%]" href={item.url}>
              <img width="100%" src={item.cover} alt={item.cover} />
            </a>
            <div class="absolute mobile:static group  bottom-10 left-10 ">
              <div class="text-[1rem] mobile:hidden mb-2.5">{item.title}</div>
              <div class="text-[1.5rem] font-[Roboto-ExtraLight] mobile:text-black mobile:text-[1.25rem] mobile:mt-2 leading-7">
                {item.description}
              </div>
              <div class="hidden group-hover:flex absolute inset-0 items-center cursor-pointer mobile:!hidden">
                <div class="w-[96px] h-[58px] transform animate-mode-forwards animate-highlight-normal bg-active-normal" />
              </div>
            </div>
            <a
              href={item.url}
              class="absolute bottom-9 right-10 right-button hover:opacity-60 mobile:hidden"
            />
          </div>
        ))
      }
    </div>
  </div>
</PageLayout>

<style>
  .play-button {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background: url(../../../assets/images/play-black.png) no-repeat center/100%
      auto;
    width: 3.625rem;
    height: 3.5rem;
  }
  .right-button {
    cursor: pointer;
    background: url(../../../assets/images/right.svg) no-repeat right/2.8125rem
      auto;
    width: 2.8125rem;
    height: 2.375rem;
  }
  .image-wrap {
    width: 100%;
    position: relative;
    display: block;
  }
  .image-wrap img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
