---
// import { ViewTransitions, fade } from "astro:transitions";
import { SEO } from "astro-seo";
import FontImport from "@/components/FontImport.astro";

interface Props {
	title: string;
	description?: string;
	// iphone 顶部栏颜色
	barColor?: string;
}

const locale = Astro.currentLocale;
const { title, description, barColor = "#fff" } = Astro.props;
const BASE_URL = import.meta.env.BASE_URL;
---

<!doctype html>
<html lang={locale}>
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
		/>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="theme-color" content={barColor} />
		<meta name="apple-mobile-web-app-status-bar-style" content={barColor} />
		<meta name="generator" content={Astro.generator} />
		<SEO
			title={title}
			description={description || "GaoDing Design Work Gallery"}
			titleDefault="GaoDing Gallery"
		/>
		<!-- <ViewTransitions /> -->
		<FontImport />
		<style is:global>
			@import "../css/global.css";
		</style>
		<script>
			import Bowser from "bowser";
			window.env = Bowser.parse(window.navigator.userAgent);
			window.document.documentElement.setAttribute(
				"data-browser",
				window.env.browser.name || "unknown",
			);
		</script>
	</head>
	<body class="bg-white relative">
		<slot />
	</body>
</html>
