---
import { ViewTransitions, fade } from "astro:transitions";
import logoImage from "../assets/images/logo.svg";
import navData from "../data/nav.json";

interface Props {
	title: string;
}

const { title } = Astro.props;
const routes = navData.nav.map(nav => ({ name: nav.en, path: nav.path }))
---

<!doctype html>
<html lang="en" transition:animate={fade({ duration: "1s" })}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="bg-white">
		<div class="header w-full flex fixed z-10 justify-between pt-7 px-16 text-white">
			<a class="logo" href="/">
				<img src={logoImage.src} alt="">
			</a>
			<div class="h-[4.5rem] flex justify-around items-center text-[1rem]">
				{routes.map((item) => (
					<a class="group relative min-w-[80px] w-fit min-h-[52px] h-fit ml-9" href={item.path}>
						<div class="absolute inset-0 flex justify-center items-center text-white font=[Roboto] text-base font-light">
						{item.name}
						</div>
						<div class="hidden group-hover:flex absolute inset-0 justify-center items-center">
							<div class="w-[80px] h-[52px] transform animate-highlight-small bg-highlight-small animate-mode-forwards"></div>
						</div>
					</a>
				))}
			</div>
		</div>
		<slot />
		<style is:global>
			@import "../css/global.css";
		</style>
	</body>
</html>
